.single-container{
    box-shadow: 2px 0px 8px #888888;
    background-color: white;
    margin-left: 10%;
    margin-top: 8%;
    margin-right: 10%;
    margin-bottom: 3%;
    overflow: hidden;
}

.list-container{
    box-shadow: 2px 0px 8px #888888;
    background-color: white;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 3%;
    overflow: hidden;
}

.single-title{
    background-color: rgba(211, 175, 55, 0.753);
    box-shadow: 0 3px 3px 0 ;
}

.col{
    padding: 0%;
}

h3{
    margin: 0%;
}

h4{
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 0%;
    width: 75%;
    border-bottom: 3px solid rgba(255, 230, 0, 0.753);
    border-radius: 10%;
}

h5{
    margin-right: 3%;
}

.add-all{
    padding: 0%;
}

input{
    width: 50%;
}

span{
    cursor: pointer;
}

.input-container{
    margin-top: 3%;
    margin-left: 32%;
}

.search-item{
    margin-left: 3%;
}

table{
    margin: 0%;
}

.list-container .btn { 
    border-radius: 0; 
}

.btn-full-width{
    background-color: rgba(211, 175, 55, 0.753);
    margin-left: 2%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

.single-img{
    width: 120%;
    height: 80%;;
}

.col-sm-9 h4{
    margin-right: 0%;
    width: 100%;
    border: none;
    margin-left: 2%;
}

.options .btn{
    width: 150px;
    margin-top: 2%;
}

.add-item{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.easy-search-button{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.text-secondary{
    margin: 2%;
}

.item-container{
    width: 100% !important;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.map-icon{
    width: 3.5%;
    cursor: pointer !important;
    margin-left: 1%;
}

agm-map {
    height: 500px;
    width: 100%;
}

.map-modal{
    height: 500px;
    width: 100%;
    margin-bottom: 10%;
}

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
    margin-right: 2%;
    margin-bottom: 2%;
}
  