.inbox-body{
    background-color: white;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 2px 0px 8px #888888;
}

.messages-header{
    background-color: rgba(211, 175, 55, 0.753);
}

h5{
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.user-photo{
    padding: 0;
    line-height: 80px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-top: 12%;
    margin-bottom: 5%;
}

.chat-photo{
    padding: 0;
    line-height: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 2%;
}

.col-md-4{
    padding-right: 0%;
    border-right: 1px solid #888888;
}

.col-md-8{
    padding-left: 0%;
}

.col-md-10{
    margin-top: 2%;
}

.row-md-3{
    overflow: hidden;
    border-bottom: 1px solid #888888; 
}

.chat-body{
    height: 450px;
    border-bottom: 1px solid #888888;
    overflow-y: scroll;
}

.message-text textarea{
    width: 75%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    border: 1px solid rgba(211, 175, 55, 0.753) !important;
}

.btn { 
    border-radius: 0; 
}

.btn-full-width{
    background-color: rgba(211, 175, 55, 0.753);
    margin-left: 2%;
    margin-bottom: 3%;
    margin-right: 3%;
}

.btn-full-width:hover{
    color: white;
}

.message-line{
    display: inline-block; 
    width: 100%;
}

.your-message{
    margin-left: 5%;
}

.chat-user-message{
    margin-right: 5%;
}