<app-menu></app-menu>

<div class="inbox-body">
    <div class="row">
        <div class="col-md-4">
            <div class="row-md-2 text-center messages-header">
                <h5><strong>Messages</strong></h5>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row-md-3">
                <div class="col-md-2 float-left">
                    <img class="rounded-circle user-photo float-right" src="..\..\assets\{{ chatUser.photo }}">
                </div>
                
                <div class="col-md-10 float-right">
                    <h3><strong>{{ chatUser.firstName }} {{ chatUser.lastName }}</strong></h3>
                    <h5 class="text-muted"><strong><i class="fas fa-map-marker-alt"></i> {{ chatUser.city }}</strong></h5>
                </div>
            </div>
            
            <div class="row-md-8 chat-body">
                <div class="message-line" *ngFor="let message of global.messages; let i = index">
                    <img *ngIf="message.fromUser === global.currentUser.id" class="your-message rounded-circle chat-photo" src="..\..\assets\{{ global.currentUser.photo }}">
                    <strong *ngIf="message.fromUser === global.currentUser.id" >{{ message.text }}</strong>

                    <img *ngIf="message.fromUser !== global.currentUser.id" class="chat-user-message rounded-circle chat-photo float-right" src="..\..\assets\{{ chatUser.photo }}">
                    <strong *ngIf="message.fromUser !== global.currentUser.id" class="float-right" >{{ message.text }}</strong>
                </div>
                
                
            </div>

            <div class="row-md-1 message-text">
                <textarea (keyup.enter)="sendMessage()" [(ngModel)]="messageText" class="form-control" rows="3"></textarea>
                <button (click)="sendMessage()" class="btn btn-md btn-brand btn-full-width">
                    <i class="fas fa-paper-plane"></i> Send
                </button>
            </div>
        </div>
    </div>
</div>