.inbox-body{
    background-color: white;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 2px 0px 8px #888888;
}

.messages-header{
    background-color: rgba(211, 175, 55, 0.753);
}

h5{
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.user-photo{
    padding: 0;
    line-height: 80px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-top: 12%;
}

.col-md-3{
    padding-right: 0%;
    border-right: 1px solid #888888;
}

.col-md-9{
    padding-left: 0%;
}

.row-md-3{
    overflow: hidden;
    border-bottom: 1px solid #888888; 
    margin-bottom: 2%;
}

.chat-body{
    height: 600px;
}