<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark nav-shadow">
    <div class="navbar-header">
        <img class="easy-logo" src="..\..\assets\es-write.png">
    </div>

    <ul class="navbar-nav nav-dist-left">
        <li [ngClass]="{'active' : url.includes('/dashboard') || url.includes('/categories')}" class="nav-item nav-border">
            <a class="nav-link" [routerLink]="['/items/categories']">
                <fa name="th-list"></fa> Dashboard
            </a>
        </li>
        <li [ngClass]="{'active' : url === '/user/wishlist'}" class="nav-item nav-border">
            <a class="nav-link" [routerLink]="['/user/wishlist']">
                <fa name="star"></fa>
                <span *ngIf="global.wishItemsNo" class='badge badge-success' id='wishCount'> {{ global.wishItemsNo }} </span>
                <span> Wishlist</span> 
            </a>
        </li>
        <li [ngClass]="{'active' : url.includes('/buy')}" class="dropdown nav-item drop-menu">
            
            <a class="dropdown-toggle nav-link" id="easyMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa name="bars"></fa>
                Buy Options
            </a>
            <div class="dropdown-menu" aria-labelledby="easyMenu">
              <a class="dropdown-item" [routerLink]="['/buy/single-place']">All in one place</a>
              <a class="dropdown-item" [routerLink]="['/buy/cheapest']">Cheapest products</a>
            </div>
        </li>
        <li *ngIf = 'activateSearch' class="nav-item align-search">
            
            <span class="input-group-append">
                <input (change)="searchItem()" [(ngModel)]="searchCriteria" type="text" class="form-control py-2 easy-search" list="items" placeholder="Search">
                <button (click)="searchItem()" class="btn btn-secondary easy-search-button" type="button">
                    <fa name="search"></fa>
                </button>

                <datalist id="items">
                    <option *ngFor="let item of global.items" [value]="item.name"><img src="..\..\assets\dashboard\{{item.photo}}">{{item.description}}</option>
                </datalist>
            </span>
        </li>
       
    </ul>

    <ul class="navbar-nav ml-auto nav-dist-left">
        <li (click)="refreshProfile()" [ngClass]="{'active' : url.includes('/profile')}" class="nav-item nav-border">
            <a class="nav-link" [routerLink]="['/profile', user.id]">
                <fa name="user"></fa> Profile
            </a>
        </li>
        <li [ngClass]="{'active' : url.includes('/inbox')}" class="nav-item nav-border">
            <a class="nav-link" href="#" [routerLink]="['/inbox/user',user.id]">
                <fa name="envelope"></fa> Inbox
            </a>
        </li>
        <li [ngClass]="{'active' : url.includes('/cart')}" class="nav-item nav-border">
            <a class="nav-link" [routerLink]="['/user/cart']">
                <fa name="shopping-cart"></fa> 
                <span *ngIf="global.cartItemsNo" class='badge badge-warning' id='lblCartCount'> {{ global.cartItemsNo }} </span>
                Your cart
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link log-out" (click)="logout()">
                <fa name="power-off"></fa> Log Out
            </a>
        </li>
       
      </ul>
</nav>