.admin-scrap{
    box-shadow: 2px 0px 8px #888888;
    background-color: white;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

.admin-menu{
    box-shadow: 2px 0px 8px #888888;
    background-color: rgba(211, 175, 55, 0.753);
    margin-left: 10%;
    margin-top: 8%;
    margin-right: 10%;
}

.row{
    height: 70px;
}

.col-md-3{
    cursor: pointer;
    text-align: center;
    border-right: 1px solid grey;
}

.col-md-3:last-of-type{
    border-right: 0px;
}

h6{
    margin-top: 7%;
}

.col-md-3:hover{
    background-color: #ffc107;
}

.insert{
    margin-top: 2%;
    margin-left: 2%;
}

.input-scrap{
    width: 60%;
}

input {
    margin-bottom: 1%;
}

button{
    margin-bottom: 2%;
}

.users-container{
    margin-top: 5%;
    box-shadow: 2px 0px 8px #888888;
    background-color: white;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 7%;
    overflow: hidden;
}

thead{
    background-color: #ffc107;
    box-shadow: 0 3px 3px 0 ;
}

.dropdown{
    width: 110px;
}

a{
    cursor: pointer;
}

.ban-button{
    color: red !important;
}

.promo-button{
    color: green !important;
}

.choose-user{
    width: 28.5%;
}

.scrap-btn{
    margin-top: 3%;
}

.dropdown-menu{
    max-height: 250px;
    overflow-y: scroll
}

.payment-nav{
    margin-top: 2%;
    margin-left: 2%;
}

.order-table{
    margin-top: 2%;
}

.order-content{
    margin-bottom: 3%;
}

.order-content td{
    cursor: pointer;
}

.modal-header, .modal-footer{
    background-color: rgba(211, 175, 55, 0.753);
}

.payed-price{
    margin-right: 60% !important;
}

.final-qty{
    margin-left: 2%;
}

.final-qty strong{
    margin-top: 3%;
    font-size: 150%;
}

.final-qty .fas{
    font-size: 150%;
    margin-top: 12%;
}