<div class='row background'>
  <div class='col-md-6 auth-photo'>
    <img src='..\..\assets\wall.png' class='wallpaper'>
  </div>
  <div class='col-md-6'>
    <div class='auth-form'>
      <div class='title'>
        <img src='..\..\assets\es-logo.png' class='avatar'>
      </div>

      <div class='row auth-change-text'>
        <div [ngClass]="signUpStyle" (click)="changeToSignUp()">
          <h2>Sign Up</h2>
        </div>
        <div [ngClass]="loginStyle" (click)="changeToLogin()">
          <h2>Login</h2>
        </div>
      </div>

      <form *ngIf='!signedIn' method="POST" class="auth-group" (ngSubmit)="onSignUp()">
        <div class='form-row' style="margin-bottom:10px;">
          <div class='col'>
              <strong><label for="firstName">First Name</label></strong>
              <span [ngStyle]="{'display':hideWarningFirstName === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
              <input type="text" [(ngModel)]="firstName" name="fn" id='firstName' class="form-control" placeholder="First Name..." required>
          </div>
          <div class='col'>
              <strong><label for="lastName">Last Name</label></strong>
              <span [ngStyle]="{'display':hideWarningLastName === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
              <input type="text" [(ngModel)]="lastName" name="ln" id='lastName' class="form-control" placeholder="Last Name..." required>
          </div>
        </div>

        <div class='form-group'>
            <strong><label for="email">Email</label></strong> 
            <span [ngStyle]="{'display':hideWarningEmail === true ? 'none' : 'inline' }">&#10060; Please Enter a valid email</span>
            <span [ngStyle]="{'display':hideWarningTakenEmail === true ? 'none' : 'inline' }">&#10060; Email already used!</span>
            <input type="text" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Email..." required>
        </div>
        <div class='form-group'>
            <strong><label for="address">Address</label></strong>
            <span [ngStyle]="{'display':hideWarningAddress === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
            <input type="text"[(ngModel)]="address" name="address" class="form-control" id="address" placeholder="Address(street, number, floor)..." required>
        </div>

        <div class='form-row' style="margin-bottom:10px;">
            <div class='col'>
                <strong><label for="city">City</label></strong>
                <span [ngStyle]="{'display':hideWarningCity === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
                <input type="text" [(ngModel)]="city" name="city" id='city' class="form-control" placeholder="City..." required>
            </div>
            <div class='col'>
                <strong><label for="phoneNumber">Phone Number</label></strong>
                <span [ngStyle]="{'display':hideWarningPhoneNumber === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
                <input type="text" [(ngModel)]="phoneNumber" name="pn" id='phoneNumber' class="form-control" placeholder="Phone Number..." required>
            </div>
        </div>

        <div class='form-row' style="margin-bottom:10px;">
            <div class='col'>
                <strong><label for="password">Password</label></strong>
                <span [ngStyle]="{'display':hideWarningPassword === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
                <input type="password" [(ngModel)]="password" name="pass" id='password' class="form-control" placeholder="Password..." required>
            </div>
            <div class='col'>
                <strong><label for="repeatPassword">Repeat Password</label></strong> 
                <span [ngStyle]="{'display':hideWarningPass === true ? 'none' : 'inline' }">&#10060; Wrong Password</span>
                <input type="password" [(ngModel)]="repeatPassword" name="repass" id='repeatPassword' class="form-control" placeholder="Repeat Password..." required>
            </div>
        </div>
        <div class="form-group">
          <input class="form-check-input" (click)="agreeWithTerms()" type="checkbox" [checked]="agreeTerms" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1"><a href="easy/terms"><b>Agree with Terms & Conditions</b></a></label>
          <span [ngStyle]="{'display':hideAgreeTerms === true ? 'none' : 'inline' }">&#10060; You must agree with T&C!</span>
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-lg btn-info">Register</button>
        </div>
      </form>

      <form *ngIf='signedIn' class="login-group" (ngSubmit) = "onLogin()">
        <div *ngIf="forgotPass==0" class="form-group">
            <strong><label for="logEmail">Email</label></strong>
            <span [ngStyle]="{'display':hideWarningLogEmail === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
            <input type="text" [(ngModel)]="logEmail" name="le" class="form-control" id="logEmail" placeholder="Email..." required>
        </div>

        <div *ngIf="forgotPass==0" class="form-group">
            <strong><label for="logPassword">Password</label></strong>
            <span [ngStyle]="{'display':hideWarningLogPass === true ? 'none' : 'inline' }">&#10060; This field is mandatory!</span>
            <input type="password" [(ngModel)]="logPassword" name="lp" class="form-control" id="logPassword" placeholder="Password..." required>
            <span [ngStyle]="{'display':hideWarningLogError === true ? 'none' : 'inline' }">&#10060; Wrong credentials!</span>
        </div>

        <div *ngIf="forgotPass==1" class="form-group">
          <strong><label for="logEmail">Enter recovery email</label></strong>
          <span [ngStyle]="{'display':hideWarningRecEmail === true ? 'none' : 'inline' }">&#10060; Please provide a valid email!</span>
          <input type="text" [(ngModel)]="recoveryEmail" name="le" class="form-control" id="logEmail" placeholder="Email..." required>
        </div>

        <div *ngIf="forgotPass==0" class="form-group">
          <a class="recovery" style="cursor: pointer;" (click)="toForgotPass()"><strong><i class="fas fa-key"></i> Forgot your password?</strong></a>
        </div>

        <div *ngIf="forgotPass==1" class="form-group">
          <a class="recovery" style="cursor: pointer;" (click)="backToLogin()"><strong><i class="fas fa-arrow-circle-left"></i> Back to Login</strong></a>
        </div>

        <div *ngIf="forgotPass==0" class="col text-center">
            <button type="submit" class="btn btn-lg btn-info">Login</button>
            <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#deleteModal">Open Modal</button>
        </div>
      </form>
      <div *ngIf="forgotPass==1" class="col text-center">
        <button type="submit" (click)="recoverAccount()" class="btn btn-lg btn-info">Recover account</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="mapModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header delete-modal text-center">
        <h4 class="modal-title" id="mapModalTitle"><strong>Banned account!</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-muted" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <span class="delete-message text-center">
              <i class="fas fa-exclamation-triangle"></i><br>
              <strong> You are banned until <br> <i>{{ global.currentUser.ban.endDate }}</i></strong><br>
              <strong> More details are in an email that we have already sent to you!</strong>
          </span>
          
      </div>
      <div class="modal-footer delete-modal">
          <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
